/* Colours */

:root {
  /* BACKGROUND COLOURS */
  --clear-colour: rgb(56, 129, 240);
  --overcaste-colour: rgb(153, 151, 151);
  --gloomy-colour: rgb(89, 87, 95);
  --sunny-colour: rgb(108, 201, 255);
}

body {
  margin: 0;
  background-color: aliceblue;
}

.weatherConditions {
  border: 1px solid blue;
  width: 50%;
  min-height: 100%;
}

.top {
  border: 1px solid black;
  min-height: 60vh;
  width: auto;
}

.bottom {
  border: 1px solid pink;
  min-height: 40vh;
  display: flex;
  justify-content: space-evenly;
}

.fiveDayWeatherCard {
  border: 1px solid red;
  border-radius: 10px;
}
