/* Colours */

:root {
  /* BACKGROUND COLOURS */
  --clear-colour: rgb(56, 129, 240);
  --overcaste-colour: rgb(153, 151, 151);
  --gloomy-colour: rgb(89, 87, 95);
  --sunny-colour: rgb(108, 201, 255);
}

body {
  margin: 2rem;
  background-color: aliceblue;
}

.weatherCard {
  border-radius: 10px;
  background-color: white;
  max-width: 14rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.cardHeader,
.cardFooter {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
}

.cardMiddle {
  margin: 0 0.5rem;
}

.weatherCard img {
  width: 2rem;
  height: auto;
}

.weatherCard button{
  border: none;
  background: none;
  
}
