/* Colours */

:root {
  /* BACKGROUND COLOURS */
  --clear-colour: rgb(56, 129, 240);
  --overcaste-colour: rgb(153, 151, 151);
  --gloomy-colour: rgb(89, 87, 95);
  --sunny-colour: rgb(108, 201, 255);
}

body {
  margin: 0;
  background-color: aliceblue;
}

/* TOP STYLES */
.top {
  border: 1px solid black;
  min-height: 60vh;
  width: 100vw;
}

/* SEARCH BAR DIV */
.search {
  text-align: center;
}

/* WEATHER CARD SPLIT IN TWO */
.currentWeatherCard {
  min-width: 100vw;
  min-height: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* LEFT SIDE OF WEATHER CARD */
.weatherConditions {
  border: 1px solid blue;
  min-height: 100%;
}

.weatherConditions h1,
.weatherConditions img,
.weatherConditions h3 {
  margin: 1rem;
  margin-left: 3rem;
}

.weatherConditions img {
  width: 10rem;
  height: auto;
}

/* BOTTOM STYLES */
.bottom {
  border: 1px solid pink;
  width: 100vw;
  max-height: 40vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* 5 DAY FORECAST STYLES */
.fiveDayWeatherCard {
  border: 1px solid red;
  border-radius: 10px;
  height: 100%;
}
